*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 767px) {
  
  html, body {
    width: 100%;            
    overflow-x: hidden; 
    overflow-y: auto;      
  }


  body::before {
  content: '';
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 20px; 
  background-color: #D92B44; 
  z-index: 10; 
  }

  .marquee-container {
    display: none;
  }

  .marquee {
    display: none;
  }

 .header-logo {
    position: fixed;
    top: -10px;
    left: 10px;
    z-index: 200; 
    width: 40%;
    height: auto;
    background-color: #fff;
  }

  .header-logo a {
    text-decoration: none; 
    color: #000;
  }

  .logo {
    width: 180px; 
    height: auto;
  }


  .font-en {
    display: block;
    width: auto;
    font-size: 11.5px;
    font-weight: 900;
    margin-top: -5px;
    margin-left: -30px;
    letter-spacing: 1px;
  }
  
  .main-content {
    border: 20px solid #D92B44;
    width: 100%;
    margin-top: -10px;
    height: auto;      
    box-sizing: border-box;
  }

}

@media screen and (max-width: 390px) {
   
  html, body {
    width: 100%; 
    height: 100%;
    max-width: 390px;         
    overflow-x: hidden; 
    overflow-y: auto;      
  }


 .header-logo {
    position: fixed;
    top: -25px;
    left: 20px;
    z-index: 10; 
    width: 49%;
    height: 65px;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .header-logo a {
    text-decoration: none; 
    color: #000;
  }

  .logo {
    width: 150px; 
    margin-left: 20px;
    height: auto;
  }
  
  .font-en {
    display: block;
    width: auto;
    font-size: 12px;
    font-weight: 600;
    margin-top: 1px;
    margin-left: 20px;
    letter-spacing: 1px;
  }

  .hamburger {
     z-index: 1001;
     box-sizing: border-box;
     position: fixed;
     top: 0;
     right: 0;
     display: inline-block; 
     width: 60px;
     height: 60px;
     background-color: #D92B44;
     border-color: #D92B44;
     border-bottom-left-radius: 10px;
  }

  .hamburger span {
     position: absolute;
     background-color: #fff; 
     display: block;
     transition: all 0.3s ease;
     height: 3px;
     margin-top: 5px;
     left: 12px;
     width: 12px;
     margin: 8px 0;
   }

    .hamburger.open span {
     left: 10px;
     width: 30px;
     background-color: #fff; 
   }

    .hamburger span:nth-child(1) {
      top: 10px;
      width: 30px;
   }

    .hamburger span:nth-child(2) {
      top: 20px;
      width: 30px;
   }

    .hamburger span:nth-child(3) {
      top: 30px;
      width: 30px;
   }

    .hamburger.open span:nth-child(1) {
      top: 15px;
      transform: rotate(45deg);
   }

    .hamburger.open span:nth-child(2) {
      opacity: 0;
   }

    .hamburger.open span:nth-child(3) {
      top: 15px;
      transform: rotate(-45deg);
   }


   .nav-menu {
      box-sizing: border-box;
      border: 20px solid #D92B44;
      border-top: none;
      border-bottom: none;
      position: fixed;
      width: 100%;
      height: 150%;
      margin-top: -50px;
      background-color: #fff;
      opacity: 1.0;
      z-index: 15;
   }

  .nav-menu ul {
      list-style: none;
      padding: 0;
      margin: 20px;
      margin-top: 110px;
   }

  .nav-menu li {
      width: 100%;
      margin: 0 auto;
      padding: 15px;
      padding-left: 25px;
      border-bottom: 2px solid #000;
      border-right: 2px solid #000;
      border-left: 2px solid #000;
   }

  .nav-menu a {
      font-size: 0.9rem;
      font-weight: 500;
      text-decoration: none;
      color: #000;
   }


   .menu1,.menu2,.menu3,.menu4 {
    text-align: left;
   }

   .menu1 {
    border-top: 2px solid #000;
   }

   .menu5,.menu5 a{
    font-size: 20px;
    color: #fff;
    background-color: #000;
   }

   .arrow {
    float: right;
    font-size: 20px;
    font-weight: 700;
   }
   
  .Requirements {
    background-color: #D92B44;
    color: #fff;
    height: auto;
    text-decoration: none;
    margin-top: -80px;
  }

  h2 {
    display: inline-block;   
    transform: scaleY(0.8); 
    padding-top: 15%;
    font-family: sans-serif;
    font-size: 2.9rem;
    margin-top: 18.5%;
    margin-left: 8%;
  }
  
  .menu-tav-wrapper {
    margin-top: -16.5%;
    margin-right: 30px;
  }

  .menu-tav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    list-style: none;
    font-size: 0.9rem;
    font-weight: 600;
    white-space: nowrap;
    letter-spacing: 1px;
  }

  li {
    margin-bottom: 15px;
    font-size: 11px;
  }

  li a {
    color: #fff;
  }

  .mark1 {
    font-size: 0.4rem;
  }

  .req, .new,.apo {
    letter-spacing: 2px;
  }


  .main-content {
    background-color: #FCF9F4;
  }

  .slideshow-wrapper {
    position: relative;
    top :-20px;
    width: 350px;
    height:350px;
    aspect-ratio: 640 / 427;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  
  .slide1 {
    position: absolute;
    width: 130%;
    height: 95%;
    left: -16.6%;
    transform: scale(1.1);
    opacity: 0;
    animation: fade 6s infinite;
    animation-delay: 0s;
  }

  .slide2 {
    position: absolute;
    width: 115%;
    height: 100%;
    top: 5%;
    left: -10%;
    transform: scale(1.1);
    opacity: 0;
    animation: fade 6s infinite;
    animation-delay: 2s;
  }

  .slide3 {
    position: absolute;
    width: 115%;
    height: 100%;
    left: -10%;
    transform: scale(1.1);
    opacity: 0;
    animation: fade 6s infinite;
    animation-delay: 4s;
  }


  @keyframes fade {
    0% {opacity: 0; } 
    25% { opacity: 1; }
    50% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 0; }
  }
 
  .ja-en {
    display: flex;
    gap: 10px;
  }

  .recruit-ja {
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 5px;
    margin-left: 20px;
  }

  .recruit-en {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-left: 10px;
  }

  .requirement-container {
    border: 0.5px solid #D92B44;
    border-radius: 20px;
    margin: 10px 15px;
    width: auto;
    position: relative;
    z-index: 1;
  }

  .requirement {
    color: #D92B44;
    background-color: #FFEDEF;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 3px;
    white-space: nowrap;
    text-align: center;
    width: 90%;
    height: 45px;
    line-height: 45px;
    position: absolute;
    z-index: 5;
    top: -0.7%;
    left: 5%;
    border-radius: 20px;
  }

  .requirement-wrapper {
    width: 85%;
    border: 0.5px solid #D92B44;
    margin: 30px auto;
    position: relative;
    z-index: 1;
  }

  .information {
    text-align: center;
    background-color: #FFEDEF;
    border: 0.5px solid #D92B44;
    border-left: none;
    border-right: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    height: 50px;
    line-height: 50px;
  }

  .content {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 10px 15px;
    letter-spacing: 1.5px;
  }

  .double-line {
    margin-left: -1px;
    color: red;
    font-size: 25px;
    font-weight: 600;
    line-height: 1; 
  }

  .detail {
    display: flex; 
    align-items: center;
    gap: 10px;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 600;
  }

  .entry-wrapper {
    border: 0.5px solid #D92B44;
    border-radius: 20px;
    margin: 40px 17px;
    width: auto;
    height: 510px;
    position: relative;
    z-index: 1;
  }

  
  .vertical {
  position: absolute;
  height: 400px;
  top: 80px;       
  bottom: 0;
  left: 50%;        
  border-right: 4px solid #FFEDEF; 
  z-index: 1;
  }
  
  .entry {
    color: #D92B44;
    background-color: #FFEDEF;
    font-size: 1.1rem;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    width: 90%;
    height: 45px;
    line-height: 45px;
    position: absolute;
    z-index: 5;
    top: -25px;
    left: 5%;
    border-radius: 20px;
  }

  .maynavi-recnavi {
    width: 100%;
    display: block;
  }

  .step {
    width: 27%;
    height: 27px;
    line-height: 27px;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    background-color: #D92B44;
    color:  #fff;
    text-align: center;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 40px;
    position: relative;
    top: 10px;
    z-index: 15;
  }

  .flow1,.flow2,.flow3,.flow4 {
    border: 1px solid #D92B44;
    box-sizing: border-box;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: -12px;
    padding-top : 25px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 2px;
    width: 85%;
    position: relative;
    top: 8px;
    z-index: 10;
    background: #fff
  }


  .flow2,.flow3,.flow4 {
    letter-spacing: 2px;
  }

  .back-to-list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin: 30px auto;
    margin-top: -10px;
  }

  .back {
    background-color: #D92B44;
    color: #fff;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    border-radius: 8px;
    margin-left: -12px;
  }

  .mark2 {
    width: 9%;
    background-color: #D92B44;
    color: #fff;
    padding: 8px;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 8px;
  }

  
.side {
  width: 100%;
  border-bottom: 20px solid #d40020;
}

.requirements {
  width: 90%;
  height: 100%;
  max-width: 390px; 
  margin: 10px auto;
  padding: 5px 10px;
  text-align: center;
}

.section-title {
  display: flex;
  align-items: center;    
  justify-content: center;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  white-space: nowrap;
  color: black;
  margin: 50px auto;
  margin-bottom: 40px;
}


.section-title::before,
.section-title::after {
  content: "";               
  border-bottom: 1px solid #d40020; 
  width: 90px;
  margin: 0 25px;
}

.buttons {
  display: inline;
}


.button-box1 {
  display: inline-block;
  border: 1px solid #d40020;
  background: #fff5f7;
  text-align: center;
  width: 100%;       
  height: auto;        
  padding: 1.5rem 1.9rem;  
  margin: 1rem auto;
  position: relative;
  box-shadow: 0 0 0 4px #fff5f7;
}

.overlay-text1 {
  font-size: 1.8rem;
  letter-spacing: 3px;
  font-weight: bold;
  border-bottom: 3px solid #000;
  display: inline-block;
  margin: 0 0 ; 
}

.recruit-en1 {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0; 
}


.button-box2 {
  display: inline-block;
  border: 1px solid #2971b9;
  background: #E3F2FF;
  text-align: center;
  width: 100%;       
  height: auto;        
  padding: 1.5rem 1.9rem;  
  margin: 1rem auto;
  position: relative;
  box-shadow: 0 0 0 4px #E3F2FF;
}

.overlay-text2 {
  font-size: 1.8rem;
  letter-spacing: 3px;
  font-weight: bold;
  border-bottom: 3px solid #000;
  display: inline-block;
  margin: 0 0 ; 
}

.recruit-en2 {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0; 
}

.recruit-link {
  text-decoration: none;
  color: inherit;
}

.recruit-content {
  display: inline-block;
  position: relative;
}

.Entry {
  color: transparent;                
  -webkit-text-stroke: 1px red;     
  font-weight: bold;
  font-size: 150px;
  margin-top: 60px;  
  display: inline-block;
  white-space: nowrap;      
  position: relative;
  animation: moveRight 20s linear infinite;               
}

@keyframes moveRight {
  0% { right: -100%; }
  100% { right: 100%; }
}

.sentence {
  font-size: 25px;
  margin-top: -250px;
  font-weight: 600;
  white-space: nowrap;
}

.you {
  font-size: 28px;
}

.smile {
  font-size: 50px;
  color: #d40020;
}

.skill {
  font-size: 35px;
  letter-spacing: 3px;
}

.recruit-container {
  width: 100%; 
  height: auto;
  margin: 0 auto; 
  max-width: 390px;
}

.recruit-title {
  background-color: #D92B44;
  color: #fff;
  padding: 5% 0;
  font-size: 110%;
  font-weight: 800;
  letter-spacing: 5px;
  text-align: center;
  width: 100%; 
}


.logo-link {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;   
  padding: 15% 0; 
}

.mynavi-link {
  border-right: 1px solid #D92B44;
}

.logo-link img {
  width: 80%; 
  height: auto;
}

.rikunabi-link img {
  width: 80%;
}


.recruit-title.recruit2 {
  background-color: #0039A4;
  margin-top: 5%;
}


.recruit-logos {
  display: flex;
  border: 1px solid #D92B44;      
  border-top: none;
  height: 120px;            
}


.contact-address-wrapper {
  display: flex;               
  border: 1px solid #0039A4;
  border-top: none;
  max-width: 390px;
  height: 120px;
  margin-bottom: 100px;
}

.contact-address {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  border-right: 1px solid #0039A4; 
  word-break: break-all;
  text-decoration: none;
  color: #000;
  font-size: 100%;
  font-weight: 300;
}


.contact-address a {
  color: #000;
}

.mailaddress {
  padding: 0 8px;
  letter-spacing: 1px;
  text-align: left;
}

.contact-number {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 19px;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  min-width: 0
}


.contact-number a {
  color: #000;
}

.office-number {
  font-size: 120%;
  white-space: nowrap;
}

.office-hours {
   font-size: 90%;
   white-space: nowrap;
}


.logo-link,
.contact-address,
.contact-number {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;              
}

.seven-people {
  width: 120%;
  border-bottom: 60px solid #D92B44;
  position: relative;
  top: -40px;
  right: 30px;
  z-index: 1;
}

.seven-seniors {
  width: 100%;
  position: absolute;
  bottom: -60px;
  left: 0;  
  margin: 0 auto;
  right: 0;
}


.company-information {
  border: 3px solid #000;
  border-bottom: none;
  width: 100%;
  height: auto;
  padding: 20px;
  padding-bottom: 40px;
  margin-bottom: -20px;
  background-color: #f9f9f9; 
  box-sizing: border-box; 
  position: relative;
  top: -80px;
  z-index: 10;
}

.logo-logo {
  width: 80%;
  margin-top: 20px;
}

.location {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
}

.home {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  margin-top: 30px;
  text-decoration: underline;
}

.tav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 10px;
  white-space: nowrap;
  letter-spacing: 1px;
  text-decoration: underline;
}

.company-summary {
  margin-top: 2px;
}

.home a,.interview a,.job-description a,.job-description a,.news a,.company-summary a{
  color: black;
}


.ENTRY {
  font-size: 2.3rem;
  font-weight: 100;
  color: #fff;
  background-color: #000;
  width: 100%;
  height: 60px;
  line-height: 60px;       
  text-align: center;
  position: fixed;   
  bottom: 0;             
  left: 0;                  
  z-index: 15;         
}
}
