.gnav--entry a::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: rgba(255, 255, 255, 0.3);
    transition: var(--transit-default);
}

#lottie .s1{
    top: 8.9rem;
    left: 10rem;
}