
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}


.page-wrapper {
  border: 30px solid red;
  overflow: hidden;
  min-width: 0; 
}


.marquee-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px; 
  z-index: 100;
  overflow: hidden;
  pointer-events: none;
}

.marquee {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  animation: marquee 50s linear infinite;
}

@keyframes marquee {
  0%   { transform: translateX(100%) translateY(-50%); }
  100% { transform: translateX(-100%) translateY(-50%); }
}


.header-logo {
  position: fixed;
  top: 10px;
  left: 5.1vw;
  z-index: 999; 
}

.header-logo a {
  text-decoration: none;
  color: #000;
}

.logo {
  width: 15vw;
  max-width: 150px;
  height: auto;
}

.font-en {
  display: inline-block;
  width: auto;
  font-size: 0.7rem;
  padding-left: 10px;
}


.visual-area {
  width: 100%;
  aspect-ratio: 1367 / 800;
  max-height: 100vh;
  margin: 20px auto 0;
  position: relative;
  background: #fff;
  overflow: hidden;
}

.NEW-MID,
.RECRUIT {
  position: absolute;
  color: #000;
}

.NEW-MID {
  top: 6vh;
  right: 6.11vw;
  font-weight: bold;
  font-size: 1.1vw;
  letter-spacing: 0.5px;
}

.RECRUIT {
  color: #000;
  top: 6.3vh;
  right: 5.75vw;
  transform: skewX(-10deg);
  font-size: 2.19vw;
  font-weight: 300;
  letter-spacing: 2.1px;
}

.letter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.letter img {
  position: absolute;
  width: 20%;
  height: auto;
}


.s1 { top: -1.0%; left: 3.4%; }
.h1 { top: 12.5%; left: 19%; z-index: 5; }
.o  { top: 3%; left: 35%; z-index: 5; width: 80%; } 
.s2 { top: 33.6%; left: 36.57%; width: 95%; }
.h2 { top: 47.5%; left: 53.4%; width: 82.8%; }
.i  { top: 38.75%; left: 65.3%; width: 83.2%; } 
.n  { top: 31.25%; left: 80.2%; width: 82.93%; }

.plant, .person {
  position: absolute;
  width: 12.44%;
  height: auto;
}
.plant { top: 8%; left: 13.67%; z-index: 1; width:6.6%; }
.p1 { top: 19.00%; left: 5.11%; width:10.33%; }
.p2 { top: 39.22%; left: 17.0%; width:7.3%; }
.p3 { top: 18.75%; left: 27.06%; width:14.6%; }
.p4 { top: 20.0%; left: 44.4%; z-index: 6; width:7.8%; }
.p5 { top: 3.11%; left: 52.17%; width:18.3%; }
.p6 { top: 26.25%; left: 72.49%; width:11.8%; }


.home_news--wrap {
  position: relative; 
  display: flex;
  justify-content: center; 
  padding: 20px; 
  gap: 20px; 
}

.news_list1 a, .news_list2 a, .news_list3 a {
  font-size: 1rem;
  text-decoration: none;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  padding: 10px 20px; 
}
.news_list1 a {
  color: #fff;
  background-color: #D92B44;
}
.news_list2 a {
  color: #D92B44;
  background-color: #FFEDEF;
}
.news_list3 a {
  color: #000;
  background-color: #FFEDEF;
}


img.men, img.pencil, img.the-future, img.message {
  position: absolute; 
  max-width: 90%; 
  height: auto; 
}

img.men { left: 5%; top: 700px; width: 50%; }
img.pencil { right: 5%; top: 800px; width: 50%; }
img.the-future { left: 50%; transform: translateX(-50%); top: 1000px; width: 50%; }
img.message { right: 5%; top: 1000px; width: 50%; }



.text {
  padding: 5vw; 
  font-size: 3rem;
  text-align: left;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 0.2em;
}


.sub-text {
  position: relative;
  margin-top: 80px; 
  height: 250px;
  background-color: red;
  width: 100%;
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  padding: 0 5vw; 
  color: #fff;
}

.text-part1 {
  font-size: 30px;
  font-weight: 500;
}
.text-part2 {
  font-size: 100px;
  font-weight: 600;
}
.text-part3 {
  font-size: 13px;
  letter-spacing: 3px;
  font-weight: 500;
}


.company-seniors img {
  height: auto;
  display: block;
  width: 200px;
  margin-top: 300px;
  gap : 10px;
}
.company-seniors .slick-slide {
  background-color: #d40020;
  margin: 0 10px;
}
.company-seniors .slick-list {
  margin: 0 0px;
}
.requirements {
  background: #fff;
  padding: 60px 20px;
  text-align: center;
}
.section-title {
  font-size: 2rem;
  color: #1565c0;
  margin-bottom: 40px;
}
.buttons {
  display :flex;
}
.button-box1, .button-box2 {
  border: 2px solid #d40020;
  background: #fff5f7 url('assets/img/ダウンロード (11).svg') no-repeat center/cover;
  padding: 5rem;
  text-align: center;
  max-width: 800px;
  width: 90%; /* 画面幅に応じて縮小 */
  margin: 5rem auto;
  position: relative;
}
.overlay-text1, .overlay-text2 {
  font-size: 2.8rem;
  font-weight: bold;
  border-bottom: 3px solid #000;
  display: inline-block;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.recruit-en1, .recruit-en2 {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.recruit-link {
  text-decoration: none;
  color: inherit;
}
.recruit-content {
  display: inline-block;
  position: relative;
}
.hamburger, .nav-menu {
  display: none;
}



/* ===============================
   767px → レイアウト切り替え
   =============================== */
@media screen and (max-width: 767px) {
  html, body {
  width: 100%;            
  overflow-x: hidden; 
  overflow-y: auto;      
}

.page-wrapper {
  border: 20px solid red;
  overflow: hidden;
  min-width: 0; 
  width: 100%;
}


.marquee-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px; 
  z-index: 100;
  overflow: hidden;
  pointer-events: none;
}

.marquee {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  animation: marquee 50s linear infinite;
}

@keyframes marquee {
  0%   { transform: translateX(100%) translateY(-50%); }
  100% { transform: translateX(-100%) translateY(-50%); }
}


.header-logo {
  position: fixed;
  top: -10px;
  left: 67px;
  z-index: 200; 
}

.header-logo a {
  text-decoration: none; 
  color: #000;
}

.logo {
  width: 180px; 
  margin-left: -32px;
  height: auto;
}

.font-en {
  display: block;
  width: auto;
  font-size: 11.5px;
  font-weight: 900;
  margin-top: -5px;
  margin-left: -41px;
  letter-spacing: 1px;
}

.hero {
  height: 440px;
}


.plant, .person {
  position: absolute;
  width: 60px; 
  height: auto;
}


.visual-area {
  position: relative;
  width: 100%;      
  max-width: 767px;   
  height: 800px;
  margin: 0 auto;   
  overflow: visible;
  transition: transform 0.1s linear;
}

.text-wrapper {
  position: absolute;
  left: 120px;
  top: 135px;
  width: 150px;
  color: #b9b6b6; 
  text-align: center;
}


.NEW-MID {
  font-weight: bold;
  font-size: 20px; 
  right: 120px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  width: 100%;
  height: auto;
  color: #b9b6b6;
  letter-spacing: 2px;
}

.RECRUIT {
  font-weight: 100;
  font-size: 43px; 
  right: 110px;
  letter-spacing: 4.5px;
  white-space: nowrap;
  width: 100%;
  height: auto;
  color: #b9b6b6;
}

.letter {
  position: absolute;
  height: 100px;
}


.s1 {
  position: absolute;
  left: -5px;
  top: 38px;
  width: 130px;   
}

.s1 img{ 
  width: 100%;
  height: auto;
}


.h1 {
  position: absolute;
  left: 105px;
  top: 80px;
  width: 100px;   
}


.h1 img{
  width: 100%;
  height: auto;
}
  
.o {
  position: absolute;
  left: 205px;
  top: 50px;
  width: 105px;   
}

.o img{ 
  width: 100%;
  height: auto;
}

.s2 { 
  position: absolute;
  left: -25px;
  top: 280px;
  width: 130px; 
}

.s2 img{ 
  width: 100%;
  height: auto;
}

.h2 { 
  position: absolute;
  left: 80px;
  top: 340px;
  width: 105px; 
}

.h2 img {
  width: 100%;
  height: auto;
}

.i  { 
  position: absolute;
  left: 160px;
  top: 310px;
  width: 100px; 
}

.i img {
  width: 100%;
  height: auto;
}

.n  { 
  position: absolute;
  left: 248px;
  top: 270px; 
  width: 100px;
}

.n img {
  width: 100%;
  height: auto;
}

.plant, .person {
  position: absolute;      
  height: auto;
}


.plant { left: 65px; top: 70px; width: 40px; }
.person.p1 { left: -5px; top: 115px; width: 70px; }
.person.p2 { display: none; }
.person.p3 { left: 125px; top: 110px; width: 95px; z-index: 5; }
.person.p4 { left: 87px; top: 280px; width: 55px; }
.person.p5 { left: 230px; top: 80px; width: 130px; z-index: 5; }
.person.p6 { left: 195px; top: 240px; width: 80px; }


.home_news--wrap {
  display: flex;
  align-items: center; 
  position: relative; 
  width: 100%;
  max-width: 767px; 
  margin: 30px auto;
}

.news_list1 a {
  display: block;
  padding: 3px 10px;
  border-radius: 30px;
  background-color: #D92B44;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  white-space: nowrap;
  z-index: 2; 
  position: relative;
  left: 45px;
  top: -60px;
}


.news_list2 {
  flex-grow: 1; 
  min-width: 0;
  margin-left: -35px; 
}

.news_list2 a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px 20px; 
  background-color: #FFEDEF;
  color: #D92B44;
  text-decoration: none;
  overflow: hidden; 
  border-radius: 30px;
  z-index: 1;
  position: relative;
  top: -30px;
  left: -30px;
  font-size: 13px;
}

.news_list2 .date {
  font-size: 10px;
  flex-shrink: 0; 
  white-space: nowrap; 
}

.news_list2 .content {
  flex-shrink: 1; 
  margin-left: 1em; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  font-weight: 1000;
}


.text1 {
  font-size: 4rem;
  background-color: #fff;
  font-weight: bold;
  text-decoration-color: #000000;
  padding-bottom: 0.5em;  
}

.text2 {
  font-size: 3.5rem;
  background-color: #fff;
  font-weight: bold;
  text-decoration-color: #000000;
  padding-bottom: 0.5em;  
}

.text3 {
  font-size: 5rem;
  background-color: #fff;
  font-weight: bold;
  text-decoration-color: #000000;
  padding-bottom: 0.5em; 
  letter-spacing: -1px; 
}

.text4 {
  position: absolute;
  right: 40rem;
  top: 50rem;
  font-size: 1rem;
  writing-mode: vertical-rl;
  text-decoration: overline;
  text-decoration-color: red;
  line-height: 30px;
  letter-spacing: 5px;
}

img.men {
  position: absolute;
  top: 2000px;
  left: 50px;
  width: 660px;
  height: 600px;
}

img.pencil {
  display: none;
}

img.the-future {
  display: none;
}

img.message {
  display: none;
}

.vertical-text {
  margin-top: 10px;
  margin-left: -750px; 
  display: inline-block;
  writing-mode: horizontal-tb; 
  font-size: 29px;
  letter-spacing: 5px;
   width: calc(100% - 90px);
}

.red-text {
  color:#D92B44;
}

.sub-text {
  position: relative;
  z-index: 99;
  top: 1500px;
  height: 250px;
  background-color: red;
  width: 100%;
}

.text-part1 {
  position: absolute;
  top: 50px;
  left: 30px;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  padding-left: 100px;
}

.text-part2 {
  position: absolute;
  top: -50px;
  left: 400px;
  color: #fff;
  font-size: 100px;
  font-weight: 600;
}

.text-part3 {
  position: absolute;
  top: 80px;
  right: 30px;
  color: #fff;
  font-size: 13px;
  letter-spacing: 3px;
  font-weight: 500;
}

.company-seniors img {
  height: auto;
  display: block;
  width: 200px;
  margin-top: 300px;
  gap : 10px;
}

.company-seniors .slick-slide {
  background-color: #d40020;
  margin: 0 10px; 
}

.company-seniors .slick-list {
  margin: 0 0px; 
}


.requirements {
  background: #fff; 
  padding: 60px 20px;
  text-align: center;
}

.section-title {
  font-size: 2rem;
  color: #1565c0; 
  margin-bottom: 40px;
}

.buttons {
  display :flex;
}

 

  .company-seniors {
    flex-direction: column;
    align-items: center;
  }

  .company-seniors div {
    flex: none;
    max-width: 80%;
  }

  .requirements .buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .requirements .button-box1,
  .requirements .button-box2 {
    width: 100%;
  }
  

  .menu-button {
    padding-right: 0px;

  }

  .hamburger {
     z-index: 1001;
     box-sizing: border-box;
     position: fixed;
     top: 0;
     right: 0;
     display: inline-block; 
     width: 50px;
     height: 50px;
     background-color: red;
     border-color: red;
     border-bottom-left-radius: 10px;
  }

  .hamburger span {
     position: absolute;
     background-color: #fff; 
     display: block;
     transition: all 0.3s ease;
     height: 3px;
     margin-top: 2px;
     left: 7px;
     width: 7px;
     margin: 0;
   }

    .hamburger.open span {
     left: 10px;
     width: 30px;
     background-color: #fff; 
   }

    .hamburger span:nth-child(1) {
      top: 10px;
      width: 30px;
   }

    .hamburger span:nth-child(2) {
      top: 20px;
      width: 30px;
   }

    .hamburger span:nth-child(3) {
      top: 30px;
      width: 30px;
   }

    .hamburger.open span:nth-child(1) {
      top: 15px;
      transform: rotate(45deg);
   }

    .hamburger.open span:nth-child(2) {
      opacity: 0;
   }

    .hamburger.open span:nth-child(3) {
      top: 15px;
      transform: rotate(-45deg);
   }

   .nav-menu {
     display: none;
   }

   .nav-menu {
      box-sizing: border-box;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 1.0;
      text-align: center;
      z-index: 9999;
      overflow-y: auto;
   }

  .nav-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
   }

  .nav-menu li {
      margin: 20px 0;
   }

  .nav-menu a {
      font-size: 1.5rem;
      text-decoration: none;
      color: #000;
   }
  }


@media screen and (max-width: 390px) {

  body {
    min-width: 391px;
  }

  .page-wrapper {
    transform: scale(calc(100vw / 391));
    transform-origin: top left;
    border-width: 20px; 
    height: calc(4000px * (100vw / 391));
  }

  .marquee-container, .header-logo, .hamburger {
    transform: scale(calc(100vw / 391));
    transform-origin: top left;
  }

  .hamburger {
    transform-origin: top right;
  }

  .marquee-container {
    height: 20px;
  }
  .marquee {
    font-size: 15px; 
  }

  
.letter {
  position: absolute;
}


.s1 {
  position: absolute;
  left: -5px;
  top: 38px;
  width: 130px;   
}

.s1 img{ 
  width: 100%;
  height: auto;
}


.h1 {
  position: absolute;
  left: 105px;
  top: 80px;
  width: 100px;   
}


.h1 img{
  width: 100%;
  height: auto;
}
  
.o {
  position: absolute;
  left: 205px;
  top: 50px;
  width: 105px;   
}

.o img{ 
  width: 100%;
  height: auto;
}

.s2 { 
  position: absolute;
  left: -25px;
  top: 280px;
  width: 130px; 
}

.s2 img{ 
  width: 100%;
  height: auto;
}

.h2 { 
  position: absolute;
  left: 80px;
  top: 340px;
  width: 105px; 
}

.h2 img {
  width: 100%;
  height: auto;
}

.i  { 
  position: absolute;
  left: 160px;
  top: 310px;
  width: 100px; 
}

.i img {
  width: 100%;
  height: auto;
}

.n  { 
  position: absolute;
  left: 248px;
  top: 270px; 
  width: 100px;
}

.n img {
  width: 100%;
  height: auto;
}

.plant, .person {
  position: absolute;      
  height: auto;
}


.plant { left: 65px; top: 70px; width: 40px; }
.person.p1 { left: -5px; top: 115px; width: 70px; }
.person.p2 { display: none; }
.person.p3 { left: 125px; top: 110px; width: 95px; z-index: 5; }
.person.p4 { left: 87px; top: 280px; width: 55px; }
.person.p5 { left: 230px; top: 80px; width: 130px; z-index: 5; }
.person.p6 { left: 195px; top: 240px; width: 80px; }



}
